In [1]:
i=1
j=10
while i<j:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [4]:
i="nilaya_jaiswal"

In [5]:
i

'nilaya_jaiswal'

In [6]:
i[0]

'n'

In [7]:
i[1]

'i'

In [11]:
i[13]

'l'

In [15]:
#i[1:3]

'il'

In [25]:
j="my name is sudhanshu"

In [26]:
j

'my name is sudhanshu'

In [31]:
j[::-1]

'uhsnahdus si eman ym'

In [29]:
j[5]

'm'

In [24]:
j[14:4:-2]

'ai ie'

In [32]:
i='NILAYA JAISWAL'

In [39]:

for A in i:
    print(i)

NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL
NILAYA JAISWAL

In [34]:
i[0]

'N'

In [35]:
i[-14]

'N'

In [36]:
i[-14:-10:1]

'NILA'

In [40]:
i

'NILAYA JAISWAL'

In [46]:
for s in i:
    if i==L:
    print(i)
else :
    print("this is a else condition")

IndentationError: expected an indented block (<ipython-input-46-5cf989750f99>, line 3)

In [47]:
i="my name is nilaya jaiswal"

In [48]:
i

'my name is nilaya jaiswal'

In [53]:
for s in i:
    if i=="a":
        break
    else:
        print(i)

my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal
my name is nilaya jaiswal

In [63]:
n = 7
for i in range(n, 0):
    for j in range(i+1, 0):
        print("* ", end = "")
    print("\r")

In [69]:
n = 7
for i in range(0, n):
    for j in range(0, i+1):
        print("* ", end = "")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [72]:
n=9
i=0
while i<n:
    print(" "*(n-i-1) + "* "*(i+1))
    i=i+1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [73]:

l=["adjnnf", 255155, "ierjfjeirfi"]

In [74]:
l

['adjnnf', 255155, 'ierjfjeirfi']

In [75]:
l[0]

'adjnnf'

In [76]:
l[1]

255155

In [77]:
l[2]

'ierjfjeirfi'

In [78]:
type(l)

list

In [79]:
type(l1)

NameError: name 'l1' is not defined

In [80]:
range(1,5)

range(1, 5)

In [82]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [85]:
bacon=22
bacon+1

23

In [89]:
s="nilaya_jaiswal"
for i in s:
    print(i,end="")

nilaya_jaiswal

TypeError: 'str' object does not support item assignment

In [91]:
s=int(input("enter the number="))
i=0
while i<s:
    print(i)
    i=i+1
else:
    print("invalid")

enter the number=20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
invalid

In [97]:
a=10
b=9
for i in range(0,a):
    for j in range(b-1,0):
        print("*",end="")
    print("\r")

In [106]:
n=int(input("enter the number="))
a=10
sum=0
while sum<=a:
    print ("sum is =")
    print(sum)
    sum = sum+1

enter the number=10
sum is =
0
sum is =
1
sum is =
2
sum is =
3
sum is =
4
sum is =
5
sum is =
6
sum is =
7
sum is =
8
sum is =
9
sum is =
10

In [107]:
# n = int(input("Enter n: "))

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

In [112]:
n=int(input("enter the number="))
i=0
while i<=n:
    print(i,end=(" "))
    i=i+1

enter the number=5
0 1 2 3 4 5

In [113]:
i=1    
number=0    
b=9    
number = int(input("Enter the number:"))    
while i<=10:    
    print("%d X %d = %d \n"%(number,i,number*i))    
    i = i+1

Enter the number:5
5 X 1 = 5

5 X 2 = 10

5 X 3 = 15

5 X 4 = 20

5 X 5 = 25

5 X 6 = 30

5 X 7 = 35

5 X 8 = 40

5 X 9 = 45

5 X 10 = 50

In [119]:
n=int(input("enter the number = "))
i=0
while i<=n:
    print("%d x %d = %d"%(n,i,n*i))
    i=i+1

enter the number = 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:
n=int(input("enter the number="))
i=0
while i<=n:
    print(""*)